@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border break-words;
  }
  body {
    @apply bg-background text-foreground;
  }
  :root {
    --background: theme(colors.white);
    --foreground: theme(colors.zinc.800);

    --muted: theme(colors.zinc.100);
    --muted-foreground: theme(colors.zinc.600);

    --primary: theme(colors.zinc.900);
    --primary-foreground: theme(colors.slate.100);

    --secondary: theme(colors.zinc.600);
    --secondary-foreground: theme(colors.zinc.200);

    --accent: theme(colors.blue.600);
    --accent-foreground: theme(colors.zinc.100);

    --border: theme(colors.zinc.200);
    --input: theme(colors.zinc.200);
  }
  .dark {
    --background: theme(colors.zinc.950);
    --foreground: theme(colors.zinc.200);

    --muted: theme(colors.zinc.900);
    --muted-foreground: theme(colors.zinc.400);

    --primary: theme(colors.slate.100);
    --primary-foreground: theme(colors.zinc.900);

    --secondary: theme(colors.zinc.500);
    --secondary-foreground: theme(colors.zinc.900);

    --accent: theme(colors.blue.600);
    --accent-foreground: theme(colors.zinc.100);

    --border: theme(colors.zinc.800);
    --input: theme(colors.zinc.800);

    --radius: 0.5rem;
  }
}
